header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

div {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

.container .logo span{
  padding-left: 15px;
}

.topnav {
  display: flex;
  align-items: center;
}

.link{
  color: black;
  padding-right: 20px;
}

.main.container {
  display: flex;
  justify-content: space-between;
}

.column.large {
  width: 630px;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  flex-direction: column;
}

.column.medium {
  width: 240px;
  flex-direction: column;
}
