.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

.container .logo span{
  padding-left: 15px;
}

.topnav {
  display: flex;
  display: inline-block;
}

.link{
  color: black;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
