header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo span{
  padding-left: 15px;
}

.topnav {
  display: flex;
  align-items: center;
  margin: 30px 25px;
}

.topnav a {
  color: black;
  padding-right: 20px;
}

.main.container {
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
}

.column.large {
  width: 630px;
  flex-direction: column;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-bottom: 40px;

}

.story1header {
  background-image: url(../images/main-story.png);
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.story3 {
  background-image: url(../images/fall-season.png);
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.story5 {
  background-image: url(../images/hipster-cameraman.png);
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column.medium {
  width: 300px;
  flex-direction: column;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-top: 40px;
}

.midstory2 {
  background-image: url(../images/cat-ceo.png);
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column.small {
  width: 240px;
  flex-direction: column;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-top: 40px;
}

.rightstory2 h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.rightstory2 li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px;
  border-bottom: 1px solid black;
}

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size:12px;
  padding: 100px;
  text-align: center;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.sym /* | */{
  padding-left: 25px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.title, .sym {
  display: inline-flex;
}

.title, .bottomnav {
  display: inline-flex;
}

.bottomnav a {
  color: black;
  padding-left: 30px;
}

.p {
  padding-top: 10px;
}
